/*-------------------------------------
#. Header
---------------------------------------*/
.admin-bar{
  .navbar{
    &.swap_navbar{
      top: 32px;
    }
  }
}


/* Main Navigation */
.bg-light-custom{
  background-color:#f1f3f5 !important;
}
.dropdown-toggle::after {
  border-top: none;
}

.sticky-top{
  min-height: 80px;
}

.navbar{
  background-color: white;
}

header {
  background: #fff;
  box-shadow: 0 1px 3px rgba(51, 65, 80, 0.08);
  transition: 0.3s;
  border-bottom: 1px solid transparent;
  &.swap_navbar {
    z-index: 1022;
    border-bottom: 1px solid #e8e8e8;
    min-height: 80px;
    background: #fff;
    box-shadow: 0 0.375rem 0.875rem rgb(0 0 0 / 6%);
  }
}

.header_menu {
  .nav-link{
      color: #5A6573 !important;
      font-size: 16px;
      font-style: normal;
      font-weight: 500 !important;
      line-height: normal;
      &.active,
      &:hover{
          color: var(--theme-bg) !important;
      }
  }
}

.header_menu {
  a {
    min-height: 80px;
    text-transform: capitalize;
    &.active::before,
    &:hover::before{
      width: 100%;
      left: 0;
      right: auto;
    }
  }
}

.nav-link::before {
  margin-top: -4.5px;
  content: "";
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0.1875rem;
  transform: translateY(50%);
  background-color: var(--theme-bg);
  transition: 300ms;
}

.nav-link {
  text-decoration: none;
  color: var(--travia-neutral-05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  transition: 300ms;
  font-size: 0.9375rem;
  font-weight: 500;
}

.navbar-nav .nav-link.active,
.navbar-nav .show > .nav-link {
  color: var(--theme-bg);
  font-weight: bold;
}

.navbar-nav .nav-link:hover {
  color: var(--theme-bg);
  background: rgb(16 98 254 / 7%);
}

.nav-item--right{
  font-family: "Inter", sans-serif;
  .navbar-nav{
      gap: 6px 12px;
      .nav-item{
          .nav-link{
              max-height: 36px;
              min-height: 36px;
          }
          .support-element{
            font-family: "Inter", sans-serif;
              gap: 5px;
              &:focus,
              &:hover{
                  strong,
                  svg{
                      color: var(--theme-bg);
                  }
              }
              svg{
                  width: 20px;
                  height: 20px;
                  color: #212529;
              }
              strong{
                  font-weight: 600 !important;
                  color: initial;
                  color: #212529;
              }
          }
          .language-element{
              &:after{
                  display: none;
              }
              gap: 3px;
              &:hover{
                  svg,
                  strong{
                      color: var(--theme-bg);
                  }
              }
              img{
                  width: 18px;
                  height: 14px;
                  margin-right:6px;
              }
              strong{
                  color: #5A6573;
                  text-align: center;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 600 !important;
                  line-height: 19.5px;
                  text-transform: capitalize;
              }
              svg{
                  margin-left: 6px;
                  color: #000000;
              }
          }
          .account-element{
            font-family: "Inter", sans-serif;
              strong{
                  color: #212529;
                  text-align: center;
                  font-size: 13px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 19.5px;
              }
          }
      }
  }
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
      padding: 0 15px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 15px;
    font-weight: bold;
    font-size: 13px;
  }
}
@media only screen and (max-width: 991.99px) {
  .nav-item--right > .navbar-nav > :nth-child(2) > .dropdown-menu {
    right: 0;
    left: unset !important;
  }

  .header_menu a {
    min-height: inherit;
  }

  .nav-item--left > .navbar-nav,
  .nav-item--right > .navbar-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nav-item--left > .navbar-nav > li {
    border-radius: 32px;
    width: calc(50% - 0.5rem);
    overflow: hidden;
  }

  .nav-item--left > .navbar-nav > li:hover {
    background-color: rgb(240, 240, 240);
  }

  .nav-item--left > .navbar-nav > li > a {
    padding: 2px 16px;
    text-align: center;
  }

  .nav-item--right,
  .nav-item--left {
    margin-top: 20px;
  }

  /* .nav-item--right > .navbar-nav { flex-direction: row; flex-wrap: wrap; } */
  .nav-item--right > .navbar-nav > :nth-child(1),
  .nav-item--right > .navbar-nav > :nth-child(2) {
    width: calc(50% - 0.5rem);
  }

  /* .nav-item--right .nav-item > .dropdown-menu { width: 100%; } */
}