// Testimonial Css
.wpWax-client-testimonial-wrap{
    max-width: 770px;
    margin: 0 auto;
    position: relative;
    .tns-controls{
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            width: 44px;
            height: 44px;
            border-radius: 50%;
            z-index: 1;
            background-color: #EBECFF;
            transition: .3s;
            @include mobileMd{
                top: auto;
                bottom: -70px;
            }
            @include mobileSm{
                height: 30px;
                width: 30px;
                padding: 0 17.5px;
            }
            &:hover{
                @extend .bg-primary;
                i{
                    @extend .color-white;
                }
            }
            i{
                font-size: 18px;
                @extend .color-primary;
            }
        }
        [data-controls="prev"]{
            left: -75px;
            transform: translateY(-50%);
            @include mobileLg{
                left: -20px;
            }
            @include mobileMd{
                left: 0;
                transform: translateY(0);
            }

        }
        [data-controls="next"]{
            right: -75px;
            transform: translateY(-50%);
            @include mobileLg{
                right: -20px;
            }
            @include mobileMd{
                right: 0;
                transform: translateY(0);
            }
        }
    }
    .wpWax-client-testimonial-shadbox{
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        opacity: .04;
        z-index: -1;
        background: #7B43FF;
        background: -moz-linear-gradient(top, #7B43FF 0%, #FC5C9C 100%);
        background: -webkit-linear-gradient(top, #7B43FF 0%, #FC5C9C 100%);
        background: linear-gradient(to bottom, #7B43FF 0%, #FC5C9C 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7B43FF', endColorstr='#FC5C9C',GradientType=0 );
    }
    .wpWax-client-testimonial{
        position: relative;
        border-radius: 8px;
        
        @include e(single){
            padding: 30px;
            border-radius: 8px;
            position: relative;
            @include mobileSm{
                padding: 15px;
            }
        }
        @include e(content){
            position: relative;
            padding: 40px 50px 50px 50px;
            z-index: 2;
            @extend .bg-white;
            @include mobileSm{
                padding: 15px;
            }
            &:after{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 8px;
                box-shadow: 0 20px 50px rgba(#756CB8,.15);
                content: "";
                z-index: -1;
            }
            .testimonial-quote{
                margin-bottom: 20px;
            }
            .testimonial-single-title{
                font-size: 22px;
                margin-bottom: 10px;
            }
            p{
                font-size: 20px;
                margin-bottom: 0;
            }
        }
        .testimonial-author{
            align-items: center;
            max-width: 160px;
            margin: 34px auto 0;
            @include e(image){
                img{
                    max-width: 50px;
                    border-radius: 50%;
                    aspect-ratio: 1/1;
                }
            }
            @include e(info){
                text-align: left;
                margin-left: 15px;
                .author-title{
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 0;
                    @extend .color-text;
                }
            }
        }
    }
}