/*------------------------------------
#. Form
------------------------------------*/
.form-group,
.affwp-wrap {
  text-align: left;
  label {
    @extend .color-text;
    span {
      margin-left: 5px;
      @extend .color-light;
    }
  }
  input,
  textarea,
  select {
    border-radius: 5px;
    padding: 15px 20px;
    border-color: $graydark;
    height: 50px;
    width: 100%;
    @extend .color-text;
    &::placeholder {
      color: $lightNormal;
    }
    &:focus {
      outline: transparent;
    }
  }
  .select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    &:after {
      content: "";
      position: absolute;
      right: 10px;
      display: block;
      width: 18px;
      height: 18px;
      background-color: currentColor;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-image:  url(../../assets/svg/icons/unicons/angle-down.svg);
      mask-image: url(../../assets/svg/icons/unicons/angle-down.svg);
    }
    select {
      appearance: none;
    }
  }
}

.form-box {
  margin-top: -160px;
  border-radius: 10px;
  box-shadow: 0 10px 40px rgba($lightColor, 0.2);
  @extend .bg-white;
  @include tab {
    margin-top: -130px;
  }
  .shape.shape-left {
    top: 380px;
    left: -85px;
    @include mobileLg {
      display: none;
    }
  }
  .form-element {
    .form-group {
      margin-bottom: 26px;
      .btn {
        border-radius: 6px;
        border: 0 none;
        &:hover {
          border: 0 none;
        }
      }
    }
  }
  .form-devider-line {
    margin: 30px 0 20px;
    width: 100%;
    height: 18px;
    text-align: center;
    position: relative;
    z-index: 10;
    .line-text {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 15px;
      font-weight: 500;
      min-width: 50px;
      @extend .bg-white;
      @extend .color-light;
    }
    &:after {
      position: absolute;
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "";
      @extend .bg-gray-light;
      z-index: -1;
    }
  }
  .form-bottom {
    padding: 30px 85px 30px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    background-color: #f9fbff;
    @include mobileLg {
      padding: 30px 30px 15px;
    }
    @include mobileSm {
      padding: 15px;
    }
    p {
      margin-bottom: 0;
      @extend .color-dark-normal;
      a {
        font-weight: 500;
        text-decoration: underline;
      }
    }
  }
}

// WPCF7 Error Style
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  font-size: 14px;
  padding: 14px 16px;
  border: 0 none;
  background-color: #fff3e1;
  border-radius: 6px;
  @extend .color-text;
}

.wpcf7 form.sent .wpcf7-response-output {
  font-size: 14px;
  padding: 14px 16px;
  border: 0 none;
  border-radius: 6px;
  @extend .color-text;
  background-color: #e6f7e9;
}


#edd_login_form .edd-input,
#edd_register_form .edd-input{
&:focus{
  color: #000000;
}
}